<div class="container">
	<div class="row">
		<div class="col-sm-2 text-center">Framework</div>
		<div class="col-sm-2 text-center">Language</div>
		<div class="col-sm-2 text-center">Server</div>
	</div>
<br>
	<div id="row">
 		<div class="col-sm-2 text-center">{{dc.framework.id}}</div>
  		<div class="col-sm-2 text-center">{{dc.framework.language.language}}</div>
  		<div class="col-sm-2 text-center">{{dc.framework.fes_ws.fes_WS}}</div>
	</div>
</div>
<br>
<br>

	<div id="row">
  		<div class="col-xs-2 text-center">Concurrency 8</div>
  		<div class="col-xs-2 text-center">Concurrency 16</div>
  		<div class="col-xs-2 text-center">Concurrency 32</div>
  		<div class="col-xs-2 text-center">Concurrency 64</div>
  		<div class="col-xs-2 text-center">Concurrency 128</div>
  		<div class="col-xs-2 text-center">Concurrency 256</div>
	</div>
	<div id="row">
  		<div class="col-xs-2 text-center">{{dc.framework.concurrency8}}</div>
  		<div class="col-xs-2 text-center">{{dc.framework.concurrency16}}</div>
  		<div class="col-xs-2 text-center">{{dc.framework.concurrency32}}</div>
  		<div class="col-xs-2 text-center">{{dc.framework.concurrency64}}</div>
  		<div class="col-xs-2 text-center">{{dc.framework.concurrency128}}</div>
  		<div class="col-xs-2 text-center">{{dc.framework.concurrency256}}</div>
	</div>
